<div class="container-fluid">
  <div class="row header" id = "admin-header">
    <div class="col-md-2" id="header-title">
      <h4><i>ADMIN</i></h4>
    </div>
    <div class="col-md-10 dropdown" id="header-menu">
      <a class="btn btn-primary btn-lg dropdown-toggle" id="dropdown-menu-button" type="button" data-toggle="dropdown"><i class="fa fa-user-circle" aria-hidden="true"></i><p>{{userParams.first_name+" "+userParams.last_name}}</p>
           <span class="caret"></span></a>
      <ul class="dropdown-menu dropdown-menu-right">
        <li><a>Opcije</a></li>
        <li class="divider"></li>
        <li><a href="#" ng-click="logout()">Logout</a></li>
      </ul>

    </div>
  </div>

  <div class="row">
    <div class="col-md-2 ui-menu">
      <ul class="nav nav-pills nav-stacked">
        <li ng-click="getPorfesors()"><a data-toggle="collapse" data-parent="#accordion" data-target="#collapse1"><i class="fa fa-user" aria-hidden="true"></i><p>Profesori</p></a></li>
        <li ng-click="getAssistents()"><a data-toggle="collapse" data-parent="#accordion" data-target="#collapse2"><i class="fa fa-user" aria-hidden="true"></i><p>Asistenti</p></a></li>
        <li ng-click="getStudents()"><a data-toggle="collapse" data-parent="#accordion" data-target="#collapse3"><i class="fa fa-graduation-cap" aria-hidden="true"></i><p>Studenti</p></a></li>
        <li ng-click="getCourses()"><a data-toggle="collapse" data-parent="#accordion" data-target="#collapse4"><i class="fa fa-book" aria-hidden="true"></i><p>Smjerovi</p></a></li>
      </ul>
    </div>
    <div class="col-md-10 ui-content">
      <div class="panel-group" id="accordion">
        <div class="panel panel-default">
        
          <div id="collapse1" class="panel-collapse collapse">
            <div class="panel-body">
              <!-- PROFESORS LIST -->
              <div>
                <div>
                  <table class="table">
                    <tr>
                      <th>Ime</th>
                      <th>Prezime</th>
                      <th>Email</th>
                      <th>Fakultet</th>
                      <th>Uloga</th>
                      <th>Registriran</th>
                      <th>Aktivan</th>
                      <th>Opcije</th>
                    </tr>
                    <tr ng-repeat="profesor in profesors">
                      <td>{{profesor.first_name}}</td>
                      <td>{{profesor.last_name}}</td>
                      <td>{{profesor.email}}</td>
                      <td>{{profesor.faculty_name}}</td>
                      <td>{{profesor.role.name}}</td>
                      <td>{{profesor.created}}</td>
                      <td>
                        <p ng-if="!profesor.deactivated">DA</p>
                        <p ng-if="profesor.deactivated">NE</p>
                      </td>
                      <td>
                        <button class="btn btn-info btn-xs" type="button" data-toggle="modal" data-target="#update-user-modal" ng-click="getOneUser(profesor.id)">
                  <i class="fa fa-pencil" aria-hidden="true"></i>
                </button>
                        <button class="btn btn-warning btn-xs" ng-click="deactivateAccount(profesor.id,profesor.role_id,$index)">
                  <i ng-if = "!profesor.deactivated" class="fa fa-ban" aria-hidden="true"></i>
                  <i ng-if = "profesor.deactivated" class="fa fa-check-circle-o" aria-hidden="true"></i>
                </button>
                        <button class="btn btn-danger btn-xs" data-toggle="modal" data-target="#delete-prompt-modal" ng-click="setAccountDeleteData(profesor.id,profesor.role_id,$index)">
                    <i class="fa fa-times" aria-hidden="true"></i>
                </button>
                      </td>
                    </tr>
                  </table>
                </div>
                <div class="add-user-button">
                  <button type="button" class="btn btn-success" data-toggle="modal" data-target="#add-user-modal"><i class="fa fa-user-plus" aria-hidden="true"></i></button>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="panel panel-default">
          <div id="collapse2" class="panel-collapse collapse">
            <div class="panel-body">
              <!-- ASISTENT LIST -->
              <div>
                <div>
                  <table class="table">
                    <tr>
                      <th>Ime</th>
                      <th>Prezime</th>
                      <th>Email</th>
                      <th>Fakultet</th>
                      <th>Uloga</th>
                      <th>Registriran</th>
                      <th>Aktivan</th>
                      <th>Opcije</th>
                    </tr>
                    <tr ng-repeat="asistent in assistents">
                      <td>{{asistent.first_name}}</td>
                      <td>{{asistent.last_name}}</td>
                      <td>{{asistent.email}}</td>
                      <td>{{asistent.faculty_name}}</td>
                      <td>{{asistent.role.name}}</td>
                      <td>{{asistent.created}}</td>
                      <td>
                        <p ng-if="!asistent.deactivated">DA</p>
                        <p ng-if="asistent.deactivated">NE</p>
                      </td>
                      <td>
                        <button class="btn btn-info btn-xs" type="button" data-toggle="modal" data-target="#update-user-modal" ng-click="getOneUser(asistent.id)">
                  <i class="fa fa-pencil" aria-hidden="true"></i>
                </button>
                        <button class="btn btn-warning btn-xs" ng-click="deactivateAccount(asistent.id,asistent.role_id,$index)">
                  <i ng-if = "!asistent.deactivated" class="fa fa-ban" aria-hidden="true"></i>
                  <i ng-if = "asistent.deactivated" class="fa fa-check-circle-o" aria-hidden="true"></i>
                </button>
                        <button class="btn btn-danger btn-xs" data-toggle="modal" data-target="#delete-prompt-modal" ng-click="setAccountDeleteData(asistent.id,asistent.role_id,$index)">
                    <i class="fa fa-times" aria-hidden="true"></i>
                </button>
                      </td>
                    </tr>
                  </table>
                </div>
                <div class="add-user-button">
                  <button type="button" class="btn btn-success" data-toggle="modal" data-target="#add-user-modal"><i class="fa fa-user-plus" aria-hidden="true"></i></button></div>
              </div>
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div id="collapse3" class="panel-collapse collapse">
            <div class="panel-body">
              <!-- STUDENT LIST -->
              <div>
                <div>
                  <table class="table">
                    <tr>
                      <th>Br Indeksa</th>
                      <th>Ime</th>
                      <th>Prezime</th>
                      <th>Email</th>
                      <th>Fakultet</th>
                      <th>Uloga</th>
                      <th>Registriran</th>
                      <th>Aktivan</th>
                      <th>Opcije</th>
                    </tr>
                    <tr ng-repeat="student in students">
                      <td>{{student.index}}</td>
                      <td>{{student.first_name}}</td>
                      <td>{{student.last_name}}</td>
                      <td>{{student.email}}</td>
                      <td>{{student.faculty_name}}</td>
                      <td>{{student.role.name}}</td>
                      <td>{{student.created}}</td>
                      <td>
                        <p ng-if="!student.deactivated">DA</p>
                        <p ng-if="student.deactivated">NE</p>
                      </td>
                      <td>
                        <button class="btn btn-info btn-xs" type="button" data-toggle="modal" data-target="#update-user-modal" ng-click="getOneUser(student.id)">
                  <i class="fa fa-pencil" aria-hidden="true"></i>
                </button>
                        <button class="btn btn-warning btn-xs" ng-click="deactivateAccount(student.id,student.role_id,$index)">
                  <i ng-if = "!student.deactivated" class="fa fa-ban" aria-hidden="true"></i>
                  <i ng-if = "student.deactivated" class="fa fa-check-circle-o" aria-hidden="true"></i>
                    </button>
                        <button class="btn btn-danger btn-xs" data-toggle="modal" data-target="#delete-prompt-modal" ng-click="setAccountDeleteData(student.id,student.role_id,$index)">
                    <i class="fa fa-times" aria-hidden="true"></i>
                </button>
                      </td>
                    </tr>
                  </table>
                </div>
                <div class="add-user-button">
                  <button type="button" class="btn btn-success" data-toggle="modal" data-target="#add-user-modal"><i class="fa fa-user-plus" aria-hidden="true"></i></button></div>
              </div>
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div id="collapse4" class="panel-collapse collapse">
            <div class="panel-body">
              <div>
                <h1>COURSES</h1>
                <div style="padding:10px; width:200px;">Smjer </div>
                <div style="padding:10px; width:200px; border:1px solid black" ng-repeat="course in courses">{{course.name}}
                  <a style="cursor:pointer" ng-click="getAbbreviations(course.id,$index)">{{course.abbreviation_number}}</a>
                  <div style="padding:10px; width:150px; border:1px solid black" ng-if="index == $index && showAbbreviations">
                    <p style="padding:2px; border-bottom:1px solid gray;">Skracenice</p>
                    <div p style="padding:2px; border-bottom:1px solid gray;" ng-repeat="abbreviation in abbreviations">{{abbreviation.abbreviation}}</div>
                    <div style="width:120px">
                      <form ng-submit="addAbbreviation(course.id ,abbr)">
                        <div class="form-group">
                          <label>Skracenica</label>
                          <input type="text" class="form-control" ng-model="abbr">
                        </div>
                        <div>
                          <input class="btn btn-info" type="submit" value="Dodaj Skracenicu" />
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- ADD USER MODAL -->
      <div class="modal fade" id="add-user-modal" role="dialog">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header modal-add-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title">Dodaj Korisnika</h4>
            </div>
            <div class="modal-body">
              <form ng-submit="addUsers(user)">
                <div class="form-group">
                  <label>Ime</label>
                  <input class="form-control" type="text" ng-model="user.first_name">
                </div>
                <div class="form-group">
                  <label>Prezime</label>
                  <input class="form-control" type="text" ng-model="user.last_name">
                </div>
                <div class="form-group">
                  <label>Rola</label>
                  <select class="form-control" ng-model="user.role" ng-change="getCourses()">
                            <option disabled value="">Pick role</option>
                            <option ng-repeat = "role in roles" value="{{role}}">{{role.toUpperCase()}}</option>
                        </select>
                </div>
                <div class="form-group" ng-if="user.role == 'student'">
                  <div class="form-group">
                    <label>Odaberi Smjer</label>
                    <select class="form-control" ng-model="user.course_id" ng-change="getAbbreviations(user.course_id)">
                            <option disabled value="">Odaberi Smjer</option>
                            <option ng-repeat="course in courses" value="{{course.id}}">{{course.name}}</option>
                          </select>
                  </div>
                  <div class="form-group">
                    <label>Obaberi Skraćenicu</label>
                    <select class="form-control" ng-model="user.abbreviation_id">
                              <option disabled value="">Odaberi Skracenicu</option>
                              <option ng-repeat="abbreviation in abbreviations" value="{{abbreviation.id}}">
                                                              {{abbreviation.abbreviation}}</option>
                             </select>
                  </div>
                </div>
                <div class="form-group">
                  <label>Email</label>
                  <input class="form-control" type="text" ng-model="user.email">
                </div>
                <div class="form-group">
                  <label>Šifra</label>
                  <input class="form-control" type="password" ng-model="user.password">
                </div>
                <div style="text-align:center">
                  <input class="btn btn-success" type="submit" value="Dodaj" />
                </div>
              </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Zatvori</button>
            </div>
          </div>
        </div>
      </div>
      <!-- UPDATE USER MODAL -->
      <div class="modal fade" id="update-user-modal" role="dialog">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header modal-update-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title">Update User</h4>
            </div>
            <div class="modal-body">
              <form ng-submit="updateUser(userUpdate)">
                <div class="form-group">
                  <input type="hidden" ng-model="userUpdate.user_id">
                  <label>Ime</label>
                  <input class="form-control" type="text" ng-model="userUpdate.first_name">
                </div>
                <div class="form-group">
                  <label>Prezime</label>
                  <input class="form-control" type="text" ng-model="userUpdate.last_name">
                </div>
                <div class="form-group">
                  <label>Rola</label>
                  <select class="form-control" ng-model="userUpdate.role">
                          <option disabled value="">Odaberi ulogu</option>
                          <option ng-repeat = "role in roles" value="{{role}}">{{role.toUpperCase()}}</option>
                        </select>
                </div>
                <div class="form-group" ng-if="userUpdate.role == 'student'">
                  <label>Broj Indeksa</label>
                  <input type="text" class="form-control" ng-model="userUpdate.index">
                </div>
                <div class="form-group">
                  <label>Email</label>
                  <input type="text" class="form-control" ng-model="userUpdate.email">
                </div>
                <div class="form-group">
                  <label>Šifra</label>
                  <input class="form-control" type="password" ng-model="userUpdate.password">
                </div>
                <div style="text-align:center">
                  <input class="btn btn-info" type="submit" value="Update" />
                </div>
              </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Zatvori</button>
            </div>
          </div>
        </div>
      </div>
      <!-- DELETE PROMPT MODAL -->
      <div class="modal fade" id="delete-prompt-modal" role="dialog">
        <div class="modal-dialog">

          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header modal-delete-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title">Obriši korisnika</h4>

            </div>
            <div class="modal-body">
              <div class="alert alert-danger">
                <strong>Opasno!</strong> Dali ste sigurni da želite obrisati korisnika {{}}.
              </div>
              <div style="text-align:center">
                <button class="btn btn-danger" ng-click="deleteAccount()">Obriši</button>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Zatvori</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

