<div class="container-fluid">
	<div class="row header" id = "assistant-header">
		<div class="col-md-2" id = "header-title">
			<h4><i>ASISTENT</i></h4>
		</div>
		<div class="col-10 dropdown" id = "header-menu">
			 <a class="btn btn-success btn-lg dropdown-toggle" id="dropdown-menu-button" type="button" data-toggle="dropdown"><i class="fa fa-user-circle" aria-hidden="true"></i><p>{{userParams.first_name+" "+userParams.last_name}}</p>
           		<span class="caret"></span></a>
     		 <ul class="dropdown-menu dropdown-menu-right">
        		<li><a>Opcije</a></li>
        		<li class="divider"></li>
        		<li><a href="#" ng-click="logout()">Logout</a></li>
      		</ul>
		</div>
	</div>
	<div class="row">
		<div class="col-md-2 ui-menu">
			<ul class="nav nav-pills nav-stacked">
				<li><a data-toggle="collapse" data-parent="#accordion" data-target="#collapse1">OPCIJA1</a></li>
				<li><a data-toggle="collapse" data-parent="#accordion" data-target="#collapse2">OPCIJA2</a></li>
				<li><a data-toggle="collapse" data-parent="#accordion" data-target="#collapse2">OPCIJA3</a></li>
			</ul>
		</div>
		<div class="col-md-10 ui-content">
			<div class="panel-group" id="accordion">
			  <div class="panel panel-default">
			    <div id="collapse1" class="panel-collapse collapse">
			      <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit,
			      sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
			      minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
			      commodo consequat.</div>
			    </div>
			  </div>
			  <div class="panel panel-default">
			    <div id="collapse2" class="panel-collapse collapse">
			      <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit,
			      sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
			      minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
			      commodo consequat.</div>
			    </div>
			  </div>
			  <div class="panel panel-default">
			    <div id="collapse3" class="panel-collapse collapse">
			      <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit,
			      sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
			      minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
			      commodo consequat.</div>
			    </div>
			  </div>
			  <!-- NEW PANNEL HERE -->
			</div>
		</div>	<!-- END OF CONTENT -->
	</div>
</div>