<div class = "super-admin-contanier">
    <div id="header">
        <div id="title">
            <p>Super Admin</p>
        </div>
        <div id="navdropdown">
            <div class="dropdown">
                <button class="btn btn-primary btn-lg dropdown-toggle" id="drop_btn" type="button" data-toggle="dropdown">Ime Prezime
            <span class="caret"></span></button>
                <ul class="dropdown-menu">
                    <li><a href="#">Osobi podaci</a></li>
                    <li><a href="#">Promjeni sifru</a></li>
                    <li class="divider"></li>
                    <li><a href="#">Logout</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="contanier">
        <div class="menu">
            <ul class="nav nav-pills nav-stacked">
                <li><a href="" id="show-list-of-faculties" ng-click="getListofFaculties()"><i class="fa fa-university" aria-hidden="true"></i> Fakulteti</a></li>
                <li><a id="show-list-of-users" ng-click = "getUsers()">Korisnici</a></li>
            </ul>
        </div>
        <div class="content">

            <div id='faculty-info-content' style="display:none;">
                <!--BEGINING OF FACULTY CONTENT -->
                <div style="overflow-y:scroll; height:500px;">
                    <table class="table table-bordered" style="border-left: 2px solid #428bca;" id="faculty-list-table">
                        <tr>
                            <th>Ime fakulteta</th>
                            <th>Država</th>
                            <th>Grad</th>
                            <th>Adresa</th>
                            <th>Broj telefona</th>
                            <th>Kreirano</th>
                            <th>Opcije</th>
                        </tr>
                        <tr ng-repeat="faculty in facultyList">
                            <td>{{faculty.name}}</td>
                            <td>{{faculty.country_name}}</td>
                            <td>{{faculty.city}}</td>
                            <td>{{faculty.address}}</td>
                            <td>{{faculty.phone}}</td>
                            <td>{{faculty.created}}</td>
                            <td>
                                <a class="btn btn-info btn-xs" id="open-update-form" title = "Update faculty info!" ng-click="getFacultybyId(faculty.id,$index)">
                                        <i class="fa fa-bars" aria-hidden="true"></i></a>
                                <a class="btn btn-danger btn-xs delete-button-prompt" title = "Delete faculty!" ng-click="setFacultydeleteId(faculty.id,$index)" id="show_delete-comfirm">
                                        <i class="fa fa-times" aria-hidden="true"></i></a>
                            </td>
                        </tr>
                    </table>

                </div>
                <div id="add-faculty-button">
                    <a href="" id="open-facultyadd-form" class="btn btn-success " ng-click="loadCountries()">
                                     <i class="fa fa-plus" aria-hidden="true"></i></a>
                    <!-- PLUS BUTTON -->
                </div>
                <div id="update-form">
                    <!-- BEGIN OF UPDATE FORM -->
                    <div style="background-color:#5bc0de;padding:5px;">
                        <a style="float:right" id="close-update-form"><i class="fa fa-times" aria-hidden="true"></i></a>
                        <h4>Izmjeni podatke</h4>
                    </div>
                    <div>
                        <form ng-submit="updateFaculty(facultyUpdate.id)">
                            <div class="form-group">
                                <strong>Ime fakulteta</strong>
                                <input type="text" class="form-control" ng-model="facultyUpdate.name" />
                            </div>
                            <div class="form-group">
                                <strong>Država</strong>
                                <select class="form-control" ng-model="facultyUpdate.country">
                                            <option ng-repeat="country in countries" value="{{country.code}}">{{country.name}}<option>
                                         </select>
                            </div>
                            <div class="form-group">
                                <strong>Grad</strong>
                                <input type="text" class="form-control" ng-model="facultyUpdate.city" />
                            </div class="form-group">
                            <div class="form-group">
                                <strong> Adresa</strong>
                                <input type="text" class="form-control" ng-model="facultyUpdate.address" />
                            </div>
                            <div class="form-group">
                                <strong>Telefon</strong>
                                <input type="text" class="form-control" ng-model="facultyUpdate.phone" />
                            </div>
                            <div style="text-align:center">
                                <input type="submit" value="Update" class="btn btn-info" id="close-updateform-onSubmit" />
                            </div>
                        </form>
                    </div>
                </div>
                <!-- END OF UPDATE FORM -->
                <div id="facultyadd-form"> <!--BEGINING OF FACULYT ADD FORM -->
                    <div style="background-color:#5cb85c;padding:10px;">
                        <a style="float:right;" id="close-facultyadd-form"><i class="fa fa-times" style="color:green" aria-hidden="true"></i></a>
                        <h4>UNESITE PODATKE O FAKULTETU</h4>
                    </div>

                    <form ng-submit="facultyAdd()"  novalidate>
                        <div class="form-group">
                            <label for="name">Naziv Fakulteta</label>
                            <input type="text" class="form-control" id="name" ng-model="newFaculty.name" required
                            ng-pattern="/^[A-Za-z0-9]{1,41}$/"
                            ng-minlength ="2"
                            ng-maxlength = "40"
                            ng-pattern-err-type = "invalidFacultyname"
                            ng-minlength-err-type = "invalidFacultyminlength"
                            ng-maxlength-err-type = "invalidFacultymaxlength"
                            required-err-type = "requiredMessage"
                            />

                        </div>
                        <div class="form-group">
                            <label for="country">Država</label>
                            <select class="form-control" id="country" ng-model="newFaculty.country" ng-change="selectPhonePrefix(newFaculty.country)"  required required-err-type = "requiredMessage">
                                    <option disabled value ="">Odaberi državu</option>
                                    <option  ng-repeat = "country in countries" value ="{{country.code}}"
                                     >{{country.name}}</option>
                                </select>
                        </div>
                        <div class="form-group">
                            <label for="city">Grad</label>
                            <input type="text" class="form-control" id="city" ng-model="newFaculty.city" required
                            ng-pattern="/^[A-Za-z0-9]{1,31}$/"
                            ng-minlength ="2"
                            ng-maxlength = "30"
                            ng-pattern-err-type = "invalidCity"
                            ng-minlength-err-type = "invalidCityminlength"
                            ng-maxlength-err-type = "invalidCitymaxlength"
                            required-err-type = "requiredMessage" />
                        </div>

                        <div class="form-group">
                            <label for="address">Adresa</label>
                            <input type="text" class="form-control" id="address" ng-model="newFaculty.address" required
                            ng-pattern="/^[A-Za-z0-9_]{1,41}$/"
                            ng-minlength ="2"
                            ng-maxlength = "40"
                            ng-pattern-err-type = "invalidAddress"
                            ng-minlength-err-type = "invalidAddressminlength"
                            ng-maxlength-err-type = "invalidAddressmaxlength"
                            required-err-type = "requiredMessage" />
                        </div>

                        <div class="form-group">
                            <label for="phone">Telefon</label>
                            <input type="text" class="form-control" id="phone" ng-model="newFaculty.phone" required
                            ng-pattern="/^[0-9]{1,30}$/"
                            ng-minlength ="6"
                            ng-maxlength = "20"
                            ng-pattern-err-type = "invalidPhone"
                            ng-minlength-err-type = "invalidPhoneminlength"
                            ng-maxlength-err-type = "invalidPhonemaxlength"
                            required-err-type = "requiredMessage" />
                        </div>
                        <div style="text-align: center">
                            <input type="submit" value="Dodaj" class="btn btn-success" />
                        </div>
                    </form>
                    <div id="faculty-add-message">
                        <strong>{{msg}}</strong>
                    </div>
                </div>
                <!--END OF FACULTY ADD FORM -->
                <div id="delete-prompt">
                    <div style="background-color: #d9534f; padding: 4px;">
                        <a id="close-delete-prompt" style="float:right"><i class="fa fa-times" style="color:black" aria-hidden="true"></i></a>
                        <strong>Obriši fakultet</strong>
                    </div>
                    <div style="padding:10px; ">
                        <strong>Dali ste sigurni da želite obrisati fakultet!!!</strong>
                    </div>
                    <div style="text-align: center; padding-bottom: 10px;">
                        <a class="btn btn-danger" ng-click="deleteFaculty()" id="hide-delete-prompt">Obriši</a>
                    </div>
                </div>
            </div>
            <!-- END OF FACULTY CONTENT -->
            <div id = "users-content"> <!-- USER CONTENT -->
                <div style = "overflow-y:scroll; height:500px;">
                    <table class = "table table-bordered" style="border-left:2px solid #5cb85c">
                        <tr>
                            <th>Ime</th>
                            <th>Prezime</th>
                            <th>Email</th>
                            <th>Fakultet</th>
                            <th>Uloga</th>
                            <th>Aktivan</th>
                            <th>Kreiran</th>
                            <th>Opcije</th>
                         </tr>
                         <tr ng-repeat="user in usersList">
                            <td>{{user.first_name}}</td>
                            <td>{{user.last_name}}</td>
                            <td>{{user.email}}</td>
                            <td>{{user.faculty_name}}</td>
                            <td>{{user.role.name}}</td>
                            <td><p ng-if = "!user.deactivated">DA</p><p ng-if = "user.deactivated">NE</p></td>
                            <td>{{user.created}}</td>
                            <td><button class = "btn btn-warning btn-xs" ng-click="toogleUseractivation(user.id,$index)">
                                <i class="fa fa-ban" aria-hidden="true"ng-if = "!user.deactivated"></i><i class="fa fa-check-circle-o" aria-hidden="true" ng-if = "user.deactivated"></i>
                            </button>
                                <button class="btn btn-danger btn-xs" ng-click="deleteUser(user.id,$index)">
                                        <i class="fa fa-times" aria-hidden="true"></i>
                                </button></td>
                              </tr>
                </table>
                </div>

                <div id="add-user-button">
                    <a href="" id="open-useradd-form" class="btn btn-success " ng-click="loadCountries()">
                                     <i class="fa fa-plus" aria-hidden="true"></i></a>
                    <!-- PLUS BUTTON -->
                </div>

                <div id = "user-add-form">
                  <div style="background-color:#5cb85c;padding:10px;">
                      <a style="float:right;" id="close-useradd-form"><i class="fa fa-times" style="color:green" aria-hidden="true"></i></a>
                      <h4>UNESITE PODATKE O KORISNIKU</h4>
                  </div>

                  <form ng-submit = "addUsers()">
                    <div class="form-group">
                      <label>Država</label>
                      <select  class = "form-control" ng-model = "addUser.country" ng-change = "loadCitiesByCountry(addUser.country)">
                        <option disabled value="">Odaberi državu</option>
                        <option ng-repeat = "country in countries" value="{{country.code}}" >{{country.name}}</option>
                      </select>

                    </div>
                    <div class="form-group" ng-if= "addUser.country!= null">
                      <label>Grad</label>
                      <select  class = "form-control" ng-model = "addUser.city" ng-change = "getListofFacultiesbyCoutryAndCity(addUser)">
                          <option disabled value="">Odaberi grad</option>
                         <option ng-repeat = "city in cities">{{city}}</option>
                      </select>
                    </div>
                    <div class="form-group" ng-if = "addUser.city!=null && facultyListByCity.length > 0">
                      <label>Fakultet</label>
                      <select class = "form-control" ng-model = "addUser.faculty_id" >
                          <option disabled value="">Odaberi fakultet</option>
                          <option ng-repeat = "faculty in facultyListByCity" value="{{faculty.id}}">{{faculty.name}}</option>
                        </select>
                      </div>
                      <div ng-if = "addUser.faculty_id!=null">
                      <div class="form-group">
                        <label>Ime</label>
                        <input class = "form-control" type="text"  ng-model = "addUser.first_name">
                      </div>
                      <div class="form-group">
                        <label>Prezime</label>
                        <input class = "form-control" type="text"  ng-model = "addUser.last_name">
                      </div>
                      <div class="form-group">
                        <label>Email</label>
                        <input class = "form-control" type="text"  ng-model = "addUser.email">
                      </div>
                      <div class="form-group">
                        <label>Šifra</label>
                        <input class = "form-control" type="password"  ng-model = "addUser.password">
                      </div>
                      <div style="text-align:center">
                        <input class="btn btn-success" type="submit" value="Dodaj"/>
                      </div>
                    </div>
                  </form>
                  <div style="text-align:center">
                    <strong >{{usersMsg}}</strong>
                  </div>
              </div>


            </div>
        </div>
        <!-- END OF CONTENT -->
    </div>
    <!-- END OF CONTANIER -->
    <script src="../js/superadmin-jq.js"></script>
</div>
