.menu{
 width: 20%;
 float: left;
    
}
.menu li{
    text-align: center;
}

.contanier{
    margin: -15px 20px 0px 15px;
}
.content{
    background-color: rgba(128, 128, 128,0.3);
    width: 80%;
    float: right;
    height: 200px;
    display: none;
}
table {
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
}