/*main page css */

.mainview{
  /* margin-top: -20px;*/

}

/*LOGIN PAGE*/

.login-wrapper{
    background-color: #ffc973;
    background-repeat: no-repeat;
    height: auto;
    padding: 7%;
    color: #428bca;
   
}
#login-form-wrapper{
    width: 30%;
    margin: 0px auto;
    height: 700px;
    
    
}
#login-image{
   text-align: center;
   margin-bottom: -40px;
}
#login-image img{
    width:40%;
    height: auto;
}
#login-form-title{
    text-align: center;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding-top: 20px;
    padding-bottom: 10px;
    background-color: rgba(0,0,0,0.2);
}
#login-form-title h2{
    
}
#login-form{
    
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: rgba(0,0,0,0.2);
}

#login-form form{
    margin: 0px 15px 25px 25px;
    border-top: 1px solid #428bca;
}
.login-input-block{
    margin-bottom: 7%;
}
#login-form input[type=text]{
    background-image: url("../images/login/2-64.png");
    background-repeat: no-repeat;
    background-position:3px;
    background-size: contain;
    padding-left: 34px;
}
#login-form input[type=password]{
    background-image: url("../images/login/keys-64.png");
    background-repeat: no-repeat;
    background-position: 3px;
    background-size: contain;
    padding-left: 34px;
}

#login-form label{
    margin-bottom: 2%;
}
.form-control{
    border-radius: 4px;
}
.form-control:focus{
   
    border-width: 2px;
}
#submit-button{
    text-align: center;
    padding-bottom: 30px;
    
}
#submit-button input{
    
   background-color:#428bca;
    border: none;
    color: white;
    padding: 8px 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    
}
#submit-button input:hover{
    background-color: #008CBA;
    color: white;
}

/*////////////////// SUPER ADMIN ///////////////////*/

.contanier{
    
    margin: 10px 10px 0px 10px;
}
#header{
    
    background-color: rgb(66,139,202);
    height: 50px;
    
}
#title{
    width: 20%;
    height: 50px;
    float: left;
    border-right: 1px solid white;
}
#title p{
    padding: 10px;
    font-size: 110%;
    
}
#navdropdown{
    float: right
}
.dropdown button{
    height: 50px;
    border-radius: 0px;
   
}

.menu{
    border-left: 2px solid #428bca;
    border-right: 2px solid #428bca;
    width: 10%;
    float: left;
}
.content{
    width: 90%;
    float:right;
    
}
#addbutton{
    text-align: right;
}
#delete-prompt{
    position: absolute;
    display:none;
    left: 30%;
    top: 15%; 
    z-index: 0; 
    border: 2px solid #d9534f; 
    border-radius: 5px; 
    width:40%; 
    background-color: white; 
}

#update-form{
    display:none;
    position:absolute;
    left:30%;
    top:15%;
    width: 50%;
    z-index:0; 
    border: 2px solid #5bc0de; 
    border-radius:5px; 
    background-color:white;

}
#update-form form{
    padding: 5px;
}

#facultyadd-form{
    display: none;
    position: absolute;
    top:15%;
    left: 25%;
    width: 55%;
    z-index: 0;
    border: 2px solid #5cb85c;
    border-radius: 5px;    
    background-color: white;
}

#facultyadd-form form{
    margin-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
}
#faculty-add-message{
    padding: 10px;
    text-align: center;

}



  