<!DOCTYPE html>
<html ng-app = "superadminpanel">
<head >
<link rel = "stylesheet" href = "../static/css/bootstrap-3.3.7-dist/css/bootstrap.css"/>
<link rel="stylesheet" href="../static/css/superadminpanel.css"/>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
   
<title>Super admin panel</title>
</head>
    <body ng-controller = "superadmincontroller">
      <div class="contanier" >
            <header>
                <h3>SUPER ADMIN</h3>
            </header>
            <div class="row">
            <div class = "menu">
                <ul class="nav nav-pills nav-stacked">
                    <li ><a href="#" id = "fakulteti">Fakulteti</a></li>
                    <li><a href="#">Korisnici</a></li>
                    
                 </ul>
            </div>
                <div class="content">
                <table class = "table table-bordered" >
                 <tr>
                    <th>Ime fakulteta</th>
                     <th>Država</th>
                     <th>Grad</th>
                     <th>Adresa</th>
                     <th>Broj telefona</th>
                     <th>Kreirano</th>
                    </tr>
                  <tr ng-repeat = "faculty in faculty_info">
                        <td>{{faculty.name}}</td>
                        <td>{{faculty.country}}</td>
                        <td>{{faculty.city}}</td>
                        <td>{{faculty.address}}</td>
                        <td>{{faculty.phone}}</td>
                        <td>{{faculty.created}}</td>
                    </tr> 
                        </table>
                    <button class="btn btn-primary" id = "btn_dodaj_fakultet">Dodaj fakultet</button>
                    <div id ="form_dodaj_fakultet" >
                    <form ng-submit = "addFaculty()">
                        <input type = "text" ng-model = "f.name"/>
                        <input type = "text" ng-model = "f.country"/>
                        <input type = "text" ng-model = "f.city"/>
                        <input type = "text" ng-model = "f.address"/>
                        <input type = "text" ng-model = "f.phone"/>
                        <input type = "submit" />
                    </form>
                    
                    
                    </div>
                </div>
        </div>
        
     
        
        
        </div>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.5/angular.min.js"></script>
        <script src="../static/js/superadmin.js"></script>
        <script src="../static/js/style.js"></script>
    </body>
</html>

