<div class = "login-wrapper">
    <div id = "login-form-wrapper">
        <div id = "login-image">
            <img src="../static/images/login/login-img.png">
        </div>
        <div id = "login-form-title">
            <h2>Login</h2>
           
        </div>
        <div id = "login-form">
            <form ng-submit = "login()">
                <div class ="form-group login-input-block">
                    <label for="email">Email</label>
                    <input class ="form-control" id = "email" type="text" ng-model = "mail"/>
                </div>
                <div class = "form-group login-input-block">
                    <label for="pass">Password</label>
                    <input class ="form-control" id = "pass" type="password"/>
                </div>
                <div id = "submit-button">
                    <input type="submit" value = "Login"/>
                </div>
            </form>
        </div>
    </div>
</div>