<!DOCTYPE html>
<html ng-app = "issApp">
<head>
    <link href = "../static/css/bootstrap-3.3.7-dist/bootstrap.css" rel="stylesheet" type="text/css"/>
    <script src="../static/js/jquery-3.2.1/jquery-3.2.1.js"></script>
    <script src="../static/css/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
    <link href="../static/css/iss.css" rel="stylesheet" type="text/css"/>
    <link href="../static/css/font-awesome-4.7.0/css/font-awesome.min.css" rel = "stylesheet"/>
    <title>ISS</title>
</head>
    <body ng-controller = 'mainController'>
        <div class = "mainview" ui-view></div> <!-- main view-->
    
    
    
    
        <script src="../static/js/angularjs-1.6.4/angular.js"></script>
       <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/1.0.3/angular-ui-router.min.js"></script> -->
        <script src="../static/js/angularjs-1.6.4/angular-ui-router.js"></script>
        <script src="../static/js/iss.js"></script>
        <script src="../static/js/superadmin-dir.js"></script>
    </body>







</html>