<div>
    <div id = "header">
        <div id = "title">
                <p>Super Admin</p>
        </div>
        <div id = "navdropdown">
        <div class="dropdown">
            <button class="btn btn-primary btn-lg dropdown-toggle" id = "drop_btn" type="button" data-toggle="dropdown">Ime Prezime
            <span class="caret"></span></button>
            <ul class="dropdown-menu">
                <li><a href="#">Osobi podaci</a></li>
                <li><a href="#">Promjeni sifru</a></li>
                <li class="divider"></li>
                <li><a href="#">Logout</a></li>
            </ul>
                </div>
            </div>
        </div>
        <div class = "contanier">
            <div class = "menu">
            <ul class="nav nav-pills nav-stacked">
                <li><a href = "" id = "show-list-of-faculties" ng-click="getListofFaculties()">Fakulteti <i class="fa fa-university" aria-hidden="true"></i></a></li>
                <li><a >Korisnici</a></li>
               </ul>
            </div>
             <div class = "content">
            
                 <div id = 'faculty-info-content' style="display: none"> <!--BEGINING OF FACULTY LIST -->
                   
                             <input type="text" id="myInput" onkeyup="myFunction()"  placeholder="Pretrazi ime fakulteta">
                        
                     
                     <div style="border-left: 2px solid blue;">
                        <table class = "table table-bordered" id = "myTable">
                            <tr>
                                <th>Ime fakulteta</th>
                                <th>Država</th>
                                <th>Grad</th>
                                <th>Adresa</th>
                                <th>Broj telefona</th>
                                <th>Kreirano</th>
                                <th>Opcije</th>
                            </tr>
                            <tr ng-repeat="faculty in facultyList">
                                <td>{{faculty.name}}</td>
                                <td>{{faculty.country_name}}</td>
                                <td>{{faculty.city}}</td>
                                <td>{{faculty.address}}</td>
                                <td>{{faculty.phone}}</td>
                                <td>{{faculty.created}}</td>
                                <td>
                                    <a class = "btn btn-warning btn-xs" id ="update-button" ng-click = getFacultybyId(faculty.id)>
                                        <i class="fa fa-bars" aria-hidden="true"></i></a>
                                    <a class="btn btn-danger btn-xs delete-button-prompt"   ng-click="setFacultydeleteId(faculty.id)" id = "show_delete-comfirm">
                                        <i class="fa fa-times" aria-hidden="true"></i></a>
                                  </td>
                            </tr>
                        </table>
                    </div>
                     <div id = "addbutton">
                             <a href ="" id = "open-add-faculty-form" class="btn btn-primary " ng-click = "loadCountries()">
                                 <i class="fa fa-plus" aria-hidden="true"></i></a> <!-- PLUS BUTTON -->
                         </div>
                            <div id="delete-prompt" style =" position:absolute;left: 50%;
    top: 20%; z-index: 0; border: 2px solid #d9534f; border-radius: 5px; width:200px; background-color: white; display:none" >
                                <div style="background-color: #d9534f; padding: 5px; text-align: left;">X</div>
                                <div style="padding:10px; "><strong>Dali se sigurni da želite obrisati fakultet!!!</strong></div>
                                <div style = "text-align: center; padding-bottom: 5px;"><a class = "btn btn-danger" ng-click = "deleteFaculty()" id ="hide-delete-prompt">Obriši</a></div> 
                            </div>
                            <div id = "update-form" style="display:none">
                                <form ng-submit="updateFaculty(facultyUpdate.id)">
                                    <input type="text" ng-model = "facultyUpdate.name"/>
                                    <select ng-model="facultyUpdate.country">
                                       
                                        <option ng-repeat="country in countries" value="{{country.name}}">{{country.name}}<option>
                                    </select>
                                    <input type="text" ng-model = "facultyUpdate.city" />
                                    <input type="text" ng-model = "facultyUpdate.address"/>
                                    <input type="text" ng-model = "facultyUpdate.phone" />
                                    <input type = "submit" />
                                </form>
                                  <pre>{{facultyUpdate | json}}
                            </div>
                            
                    </div> <!-- END OF FACULTY LIST -->
                
                 <div id = "add-faculty-form" style="display: none" > <!--BEGINING OF FACULYT ADD FORM -->
                    <form ng-submit = "facultyAdd()" onvlidate = "novalidate" >
                        <div class = "form-group">
                            <label for = "name">Naziv Fakulteta</label>
                            <input type ="text" class="form-control" id="name" ng-model = "f.name" /> 
                        </div>
                        <div class = "form-group">
                            <label for = "country">Država</label>
                            <select class="form-control" id = "country" ng-model="f.country">
                                <option disabled value ="">Odaberi državu</option>
                                <option  ng-repeat = "country in countries" value ="{{country.name}}">{{country.name}}</option>
                            </select> 
                        </div>
                        <div class = "form-group">
                            <label for = "city">Grad</label>
                            <input type ="text" class="form-control" id = "city" ng-model="f.city"/>
                        </div>

                        <div class = "form-group">
                            <label for = "address">Adresa</label>
                            <input type ="text" class="form-control" id = "address" ng-model="f.address"/>
                        </div>

                        <div class = "form-group">
                            <label for = "phone">Telefon</label>
                            <input type ="text" class="form-control" id = "phone" ng-model="f.phone"/>
                        </div>
                        <div style="text-align: center">
                            <input type ="submit" value = "Dodaj" class = "btn btn-default"/>
                           
                            
                        </div>
                     </form>
                     
                    <div>
                        <pre>{{f | json}}</pre>
                        <p>{{msg}}</p> 
                    </div>
                        
                 </div> <!--END OF FACULTY ADD FORM -->
                 
            </div> <!-- END OF CONTENT --> 
                   
        </div> <!-- END OF CONTANIER --> 
    <script>
        /* **** SHOW LIST OF FACULTIES BUTTON **** */
         $(document).ready(function(){
           $("#show-list-of-faculties").click(function(){
                 if($("#faculty-info-content").css("display") == "block"){
                   $("#faculty-info-content").fadeOut();
               }
                if($("#faculty-info-content").css("display") == "none"){
                   $("#faculty-info-content").fadeIn();
                        }
                if($("#add-faculty-form").css("display") == "block"){
                    $("#faculty-info-content").fadeIn();
                    $("#add-faculty-form").hide();
                }
             
            });
             $("#open-add-faculty-form").click(function(){
                
                 if($("#add-faculty-form").css("display") == "none"){
                     $("#faculty-info-content").hide();
                     $("#add-faculty-form").fadeIn();
                 }
                });
              
                
                $("#hide-delete-prompt").click(function(){
                    $("#delete-prompt").fadeOut();
                });
                $(document).on("click",'#myTable .delete-button-prompt',function(){
                        $("#delete-prompt").fadeIn();
                    });
                $(document).on("click", "#myTable #update-button", function(){
                    $("#update-form").fadeIn();
                    
                });
            });
            
    
    
    </script>

<script>
    //search bar
    function myFunction() {
        var input, filter, table, tr, td, i;
        input = document.getElementById("myInput");
            filter = input.value.toUpperCase();
            table = document.getElementById("myTable");
            tr = table.getElementsByTagName("tr");


            for (i = 0; i < tr.length; i++) {
                td = tr[i].getElementsByTagName("td")[0];
                if (td) {
                    if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
                        tr[i].style.display = "";
                    } else {
                        tr[i].style.display = "none";
                    }
                } 
            }
        }
       
     </script>
    
</div>