<!DOCTYPE html>
<html ng-app = "superAdmin">
<head>

    <link href = "../static/css/bootstrap-3.3.7-dist/css/bootstrap.css" rel="stylesheet"/>
    <link href ="../static/css/style.css" rel ="stylesheet" type = "text/css"/> 
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title>Super Admin Panel</title>    
</head>
    <body>
        <div id = "header">
            <div id = "title">
                <h1>Super Admin</h1>
            </div>
            <div id = "navdropdown">
            <div class="dropdown">
                <button class="btn btn-primary btn-lg dropdown-toggle" id = "drop_btn" type="button" data-toggle="dropdown">Ime Prezime
                <span class="caret"></span></button>
                <ul class="dropdown-menu">
                    <li><a href="#">Osobi podaci</a></li>
                    <li><a href="#">Promjeni sifru</a></li>
                    <li class="divider"></li>
                    <li><a href="#">Logout</a></li>
                </ul>
                </div>
            </div>
        </div>
        <div class = "contanier" ng-controller = "superAdminController">
            <div class = "menu">
            <ul class="nav nav-pills nav-stacked">
                <li><a href = "#!faculties">Fakulteti</a> </li>
                <li><a href = "#">Korisnici</a></li>
               </ul>
            </div>
        <div class = "content">
            <div ng-view></div>
        </div>
            <script src="../static/js/angularjs-1.6.4/angular.js"></script>
           <script src="../static/js/angularjs-1.6.4/angular-route.js"></script>
           <script src="../static/js/superadmin.js"></script>
        </div>
    </body>
</html>