<div>
    <div style="border-left: 2px solid blue;">
        <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Pretrazi ime fakulteta">
        <table class = "table table-bordered" id = "myTable">
            <tr>
                <th>Ime fakulteta</th>
                <th>Država</th>
                <th>Grad</th>
                <th>Adresa</th>
                <th>Broj telefona</th>
                <th>Kreirano</th>
                <th>Opcije</th>
            </tr>
            <tr ng-repeat="faculty in facultyList">
                <td>{{faculty.name}}</td>
                <td>{{faculty.country_name}}</td>
                <td>{{faculty.city}}</td>
                <td>{{faculty.address}}</td>
                <td>{{faculty.phone}}</td>
                <td>{{faculty.created}}</td>
                <td>
                    <a class = "btn btn-warning btn-xs" id = "up">
                        <i class="fa fa-bars" aria-hidden="true"></i></a>
                    <a class="btn btn-danger btn-xs" ng-click="deleteFaculty(faculty.id)">
                        <i class="fa fa-times" aria-hidden="true"></i></a>
                  </td>
            </tr>
        </table>
    </div>
    <div id = "addbutton">
        <a class="btn btn-primary" ui-sref ="addFaculty" ng-click = "loadCountries()">Dodaj Fakultet</a>
            
    </div>

    <script>
    //search bar
    function myFunction() {
        var input, filter, table, tr, td, i;
        input = document.getElementById("myInput");
            filter = input.value.toUpperCase();
            table = document.getElementById("myTable");
            tr = table.getElementsByTagName("tr");

  
            for (i = 0; i < tr.length; i++) {
                td = tr[i].getElementsByTagName("td")[0];
                if (td) {
                    if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
                        tr[i].style.display = "";
                    } else {
                        tr[i].style.display = "none";
                    }
                } 
            }
        }
        

    </script>
</div>


